<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="utf-8" />
    <title>Struktura drzewiasta</title>
    <link rel="stylesheet" href="style.css">

    <script type="text/x-template" id="item-template">
        <li>
          <div class="item-data"
            @click="$emit('get-current-folder', item); toggle();">
            {{ item.name }}
            <span v-if="isFolder">
                <span v-if="isOpen" class="expand-collapse-sign">
                    -
                </span>
                <span v-else class="expand-collapse-sign">
                    +
                </span>
            </span>
          </div>
          
          <ul v-show="isOpen" v-if="isFolder">
            <tree-item
              class="item"
              v-for="(child, index) in item.children"
              :key="index"
              :item="child"
              @get-current-folder="$emit('get-current-folder', $event)"
            ></tree-item>
          </ul>
        </li>
    </script>
</head>

<body>
    <div id="wrapper">
        <ul class="list">
            <div v-for="item in folderTree">
                <tree-item class="item" :item="item" @get-current-folder="getCurrentFolder"></tree-item>
            </div>
        </ul>
        <div class="currentlySelected">Currently selected folder: {{currentFolderName}}</div>
        <span class="text">Enter your folder name: </span>
        <input type="text" v-model="folderName"> <br>
        <button @click="addElement">Add folder</button><br>
        <button @click="deleteElement" class="delete">Delete folder</button> <br>
        <button @click="resetCurrentSelectedFolder">Reset currently selected folder</button><br>
        <button @click="editElement">Edit folder name</button>
    </div>
</body>

<script>
    Vue.component("tree-item", {
        template: "#item-template",
        props: {
            item: Object
        },
        data: function () {
            return {
                isOpen: false
            };
        },
        computed: {
            isFolder: function () {
                return this.item.children && this.item.children.length;
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen;
                }
            },
            getCurrentFolder: function () {
                this.$emit("get-current-folder", this.item)
            }
        }
    });

    var wrapper = new Vue({
        el: "#wrapper",
        data: {
            folderTree: null,
            currentId: 0,
            folderName: null,
            currentFolderName: "None"
        },
        methods: {
            getCurrentFolder: function (item) {
                this.currentId = item.id;
                this.currentFolderName = item.name;
            },
            deleteElement: function () {
                axios.delete('http://localhost:5003/api/Folder/DeleteFolder/' + this.currentId).then(response => {
                    alert("Usunąłeś element!!!!!!");
                    this.resetCurrentSelectedFolder();
                    this.getAllFolders();
                })
            },
            addElement: function () {
                axios.post('http://localhost:5003/api/Folder/AddFolder?name=' + this.folderName + "&parentId=" + this.currentId).then(response => {
                    alert(response.data.id);
                    this.resetCurrentSelectedFolder();
                    this.folderName = null;
                    this.getAllFolders();
                })
            },
            editElement: function () {
                axios.put('http://localhost:5003/api/Folder/EditFolder?folderId=' + this.currentId + "&name=" + this.folderName).then(response => {
                    alert("Edytowałeś element");
                    this.resetCurrentSelectedFolder();
                    this.folderName = null;
                    this.getAllFolders();
                })
            },
            resetCurrentSelectedFolder: function () {
                this.currentId = 0;
                this.currentFolderName = "None"
            },
            getAllFolders: function () {
                axios.get('http://localhost:5003/api/Folder/GetAllFolders').then(response => {
                    this.folderTree = JSON.parse(JSON.stringify(response.data))
                })
            }
        },
        mounted() {
            axios.get('http://localhost:5003/api/Folder/GetAllFolders').then(response => {
                this.folderTree = JSON.parse(JSON.stringify(response.data))
            })
        }
    });
</script>

</html>