<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="utf-8" />
    <title>Struktura drzewiasta</title>
    <link rel="stylesheet" href="style.css">

    <script type="text/x-template" id="item-template">
        <li>
          <div
            @click="$emit('get-current-id', item)">
            {{ item.name }}
            <span @click="toggle" v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
          </div>
          
          <ul v-show="isOpen" v-if="isFolder">
            <tree-item
              class="item"
              v-for="(child, index) in item.children"
              :key="index"
              :item="child"
              @get-current-id="$emit('get-current-id', $event)"
            ></tree-item>
          </ul>
        </li>
    </script>
</head>

<body>
    <div id="demo">
        <ul>
            <div v-for="item in folderTree">
            <tree-item
            class="item"
            :item="item"
            @get-current-id="getCurrentId"
            ></tree-item>
            </div>
        </ul>
        <button @click="deleteElement">Delete recently clicked folder</button> <br>
        <span>Enter your folder name: </span><input type="text" v-model="folderName">
        <button @click="addElement">Add folder to recently clicked folder</button><br>
        <button @click="resetCurrentId">Reset current selected folder to Add Root Folder</button>
    </div>
</body>

<script>
    Vue.component("tree-item", {
        template: "#item-template",
        props: {
        item: Object
        },
        data: function() {
        return {
            isOpen: false
        };
        },
        computed: {
        isFolder: function() {
            return this.item.children && this.item.children.length;
        }
        },
        methods: {
        toggle: function() {
            if (this.isFolder) {
            this.isOpen = !this.isOpen;
            }
        },
        getCurrentId: function() {
            this.$emit("get-current-id", this.item)
        }
        }
    });

    var demo = new Vue({
        el: "#demo",
        data: {
          folderTree: null,
          currentId: 0,
          folderName: null
        },
        methods: {
          getCurrentId: function(item) {
            this.currentId = item.id;
            console.log(this.currentId)
          },
          deleteElement: function() {
            axios.delete('http://localhost:5003/api/Folder/DeleteFolder/' + this.currentId).then(response => {
                alert("Usunąłeś element!!!!!!");
                this.getAllFolders();
            })
          },
          addElement: function() {
              console.log(this.folderName)
              axios.post('http://localhost:5003/api/Folder/AddFolder?name=' + this.folderName + "&parentId=" + this.currentId).then(response => {
                  alert(response.data.id);
                  this.getAllFolders();
              })
          },
          resetCurrentId: function() {
            this.currentId = 0;
          },
          getAllFolders: function() {
            axios.get('http://localhost:5003/api/Folder/GetAllFolders').then(response => {
                this.folderTree = JSON.parse(JSON.stringify(response.data))
            })
          }
        },
        mounted() {
            axios.get('http://localhost:5003/api/Folder/GetAllFolders').then(response => {
                this.folderTree = JSON.parse(JSON.stringify(response.data))
            })
        }
      });
      console.log(demo);
</script>
</html>